</body>
<footer>

    <form>
        <legend>Schrijf je in voor de Nieuwsbrief!</legend>
        <label>Vul je Email in</label>
        <input type="email">
        <button type="submit"><title>mail bevestigen voor nieuwsbrief</title>send</button>
    </form>

    <div>
        <div>
            <strong>Rubrieken</strong>
            <ul>
                <a href=""><li>Binnenland</li></a>
                <a href=""><li>Buitenland</li></a>
                <a href=""><li>Columns</li></a>
                <a href=""><li>Economie</li></a>
                <a href=""><li>Kunst & Media</li></a>
                <a href=""><li>Podcasts</li></a>
                <a href=""><li>Politiek</li></a>
                <a href=""><li>Wetenschap</li></a>
            </ul>
        </div>
        <div>
            <strong>Navigatie</strong>
            <ul>
                <a href=""><li>Colofon</li></a>
                <a href=""><li>Contact</li></a>
                <a href=""><li>Doneren</li></a>
                <a href=""><li>Meedoen</li></a>
                <a href=""><li>Over Red Pers</li></a>
            </ul>
        </div>
        <div>
            <strong>Service</strong>
            <ul>
                <a href=""><li>Tip de Redactie</li></a>
                <a href=""><li>Meld een fout</li></a>

            </ul>
        </div>
        <div>
            <strong>Meer Red Pers</strong>
            <ul>
                <a href=""><li>Nieuwsbrief</li></a>
                <a href=""><li>LinkedIn</li></a>
                <a href=""><li>Facebook</li></a>
                <a href=""><li>Instagram</li></a>
                <a href=""><li>Twitter</li></a>
            </ul>
        </div>
    </div>

    <p>© 2024 Stichting Red Pers – Alle rechten voorbehouden</p>
</footer>
</html>