</body>
<footer>

    <form>
        <legend>Schrijf je in voor de Nieuwsbrief!</legend>
        <label>Vul je Email in</label>
        <input type="email">
        <button type="submit"><title>mail bevestigen voor nieuwsbrief</title>send</button>
    </form>

    <div>
        <details>
            <summary>Rubrieken</summary>   
            <ul>
                <li><a href="">Binnenland</a></li>
                <li><a href="">Buitenland</a></li>
                <li><a href="">Columns</a></li>
                <li><a href="">Economie</a></li>
                <li><a href="">Kunst & Media</a></li>
                <li><a href="">Podcasts</a></li>
                <li><a href="">Politiek</a></li>
                <li><a href="">Wetenschap</a></li>          
            </ul>  
        </details>

        <details>
            <summary>Navigatie</summary>
            <ul>
                <a href=""><li>Colofon</li></a>
                <a href=""><li>Contact</li></a>
                <a href=""><li>Doneren</li></a>
                <a href=""><li>Meedoen</li></a>
                <a href=""><li>Over Red Pers</li></a>
            </ul>
        </details>

        <details>
            <summary>Service</summary>
            <ul>
                <a href=""><li>Tip de Redactie</li></a>
                <a href=""><li>Meld een fout</li></a>

            </ul>
        </details>

        <details>
            <summary>Meer Red Pers</summary>
            <ul>
                <a href=""><li>Nieuwsbrief</li></a>
                <a href=""><li>LinkedIn</li></a>
                <a href=""><li>Facebook</li></a>
                <a href=""><li>Instagram</li></a>
                <a href=""><li>Twitter</li></a>
            </ul>
        </details>
        
    </div>

    <p>© 2024 Stichting Red Pers – Alle rechten voorbehouden</p>
</footer>
</html>