@font-face {
    font-family: "Merriweather";
    src: url("../assets/fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/Inter-Regular.ttf");
}

:root {
    --primary-color-1:#2e2e2e;
    --primary-color-2:#747474;
    --primary-color-4:#F7F7F5;
    --primary-color-3:#D9D9D9;
    --active-color-1:#E85340;
    --active-color-1_hover:#53211a;


    --secondary-color-1:#5340E8;
    --secondary-color-2:#F2D930;

    --font-sans-serif:"Inter", arial, sans-serif;
    --font-serif: "Merriweather", Georgia, serif;
    --border-style-black: 2px solid var(--primary-color-1);
    --border-style-white: 2px solid var(--primary-color-3);

    --default-padding: 1em;

    --transition-flow: 0.5s ease-out, color .1s ease;
}

html {
    font-family: sans-serif;
    font-family: arial;
    font-family: "inter";
    font-family: var(--font-sans-serif);
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

li,
ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
}

p,
ul,
li,
button {
    font-family: var(--font-sans-serif);
    font-size: 1.1em;
    line-height: 1.5em;
}

img {
    height: auto;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote p {
    font-family: serif;
    font-family: Georgia;
    font-family: "Merriweather";
    font-family: var(--font-serif);

    font-weight: 900;
    line-height: 1.3em;
}

blockquote {
    font-size: 38px;
    font-weight: bold;
    padding: .5em;
    font-style: italic;
    color: var(--primary-color-1);
    line-height: 1.5em;
}

a {
    color: var(--active-color-1);
    text-decoration: none;
    transition: var(--transition-flow);

}

a:active {
    color: var(--active-color-1);
}

a:hover {
    color: var(--active-color-1_hover);
}

button {
    height: 44px;
    padding: 1rem;
    background: var(--active-color-1);
    color: white;
    border: var(--border-style-black);
    transition: var(--transition-flow);
    font-size: 1em;
}

button:hover {
    background-color: var(--active-color-1_hover);
    font-weight: bold;
}

a,
button,
summary {
    cursor: pointer;
}

main { 
    padding: 2em;
    max-width: 768px;
    margin: auto;
}

header {
    width: 100%;
    height: 50px;
    background-color: var(--primary-color-3);
    border-bottom: var(--border-style-black);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
}

header div {
    max-width: 1200px;
}

header img {
    width: 10em;
    height: auto;
}

header ul,
header input {
    display: none;
}

footer {
    background-color: var(--primary-color-1);
    color: var(--primary-color-4);
    width: 100%;
    height: auto;
}

footer div {
    padding: 1em 0;
}

footer div details{
    border-top: var(--border-style-white);
}

footer div details[open],
footer div details {
    padding: 1em 0;
}

footer div details:last-child {
    border-bottom: var(--border-style-white);
}

footer div details summary {
    font-size: 1.2em;
    text-transform: uppercase;
}

footer div details summary:hover {
    color: var(--active-color-1);
    transition: var(--transition-flow);
    
}

footer div details summary::marker {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    margin-right: 8px; 
}

.main-footer{
    padding: 1em;
}

button#share {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    fill: var(--primary-color-4);
    background-color: var(--primary-color-2);
}

button#share::before{
    background-color: var(--primary-color-2);
    fill: var(--primary-color-4);
}

button#share::after {
    fill: var(--active-color-1);
}

button#share:hover {
    background-color: var(--primary-color-1);
}

button#share::after {
    fill: var(--active-color-1);

}

.article-date-header {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.article-date-header div {
    display: flex;
    gap: .5em;
}

form#like-counter {
    background-color: var(--primary-color-2);
    padding: .5em;
    font-weight: 900;
    cursor: pointer;
    border: var(--border-style-black);
}

form#like-counter input[type='checkbox']{
    display: none;
}

form#like-counter [for=like]{
    display: flex;
    align-items: center;
    gap: .5em;
}

form#like-counter [for=like] svg{
    fill: var(--primary-color-1);
    height: 2em;
}

form#like-counter label[for=like]:hover{
    fill: var(--primary-color-3);
    color: var(--primary-color-3);
}

form#like-counter .like-checkbox {
    position: absolute;
    left: -100vw;
}






form#like-counter-liked {
    background-color: var(--active-color-1);
    padding: 1em;
    font-weight: 900;
    cursor: pointer;
    color: var(--primary-color-4);
    border: var(--border-style-black);
}

form#like-counter-liked input[type='checkbox']{
    display: none;
}

form#like-counter-liked [for=like]{
    display: flex;
    align-items: center;
    gap: .5em;
}

form#like-counter-liked [for=like] svg{
    fill: var(--primary-color-4);
    height: 2em;
}




